* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

#root {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

main {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  main {
    padding: 1rem;
  }
}

ul,
li {
  text-decoration: none;
  list-style: none;
}
