* {
  box-sizing: border-box;
  //outline: 1px solid red;
}

html {
  height: 100%;
}

#root {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  min-width: 1024px;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}
