#root {
  display: flex;
  flex-direction: column;
  //min-height: 100vh;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
  outline: 1px solid red;
  //overflow: hidden;
  //background-color: rgba(255, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

// Organize side, nav bars and main
.container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

// Responsive
.main {
  flex: 1;
}
