$primary: #ff0101;
$background: #ffffff;
$dark-background: #020203;
$secondary-text: #74798C; 
$font-family: "Roboto", sans-serif;
$font-size: 18px;
$font-weight: 500;
$radius: 12px;
$radius-small: 5px;
