@use "_variables";
@use "_global";
//@import "./responsive";

/* =========================  ORGANIZE SIDE, NAV and MAIN ========================= */

.app__container {
  display: flex;
  width: 100%;
  height: 100%;
  &-main {
    width: 100%;
    height: 100%;
  }
  &_userActivity {
    max-width: 60%;
    display: flex;
    flex-direction: row;
  }
}

/* =========================  HEADER ========================= */

.header {
  width: 100%;
  height: 91px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
  position: relative;
}

.navbar {
  background-color: variables.$dark-background;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 29px;
  justify-content: space-between;

  &__logo {
    // margin-right: 2rem;
    margin: 1rem 2rem 1rem 0;
    img {
      width: 177px;
      display: block;
    }
  }

  &__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-weight: variables.$font-weight;
    font-family: variables.$font-family;
    transition: color 0.2s;
    background-size: 0 3px; // Underline size for animation
    background-position: bottom center; // Center bottom underline

    // Hover effect
    &:hover {
      color: variables.$primary; // color
      // Soulignement animé
      background-size: 100% 3px;
      background: linear-gradient(currentColor 0 0) bottom / var(--d, 0) 3px
        no-repeat; // No underline by default
      transition: 0.3s; // Animation duration
      --d: 100%; // Full underline on animation
    }
  }
}

/* =========================  SIDEBAR ========================= */

.sidebar {
  width: 117px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$dark-background;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &__nav {
    flex: 1;
    display: flex;
    align-items: center;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__item {
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: variables.$radius-small;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.8;
    }
    img {
      width: 32px;
      height: 32px;
    }
  }
  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__copyright {
    margin-bottom: 2rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    color: #ffffff;
    font-size: 12px;
    font-weight: variables.$font-weight;
    white-space: nowrap;
    p {
      margin: 0;
    }
  }
}

/* =========================  USER WELCOME MESSAGE ========================= */

.user {
  &_container {
    &-welcome,
    &-name {
      font-weight: variables.$font-weight;
      font-size: 48px;
      margin: 0 0 8px 0;
    }
    &-welcome {
      color: #20253a;
    }
    &-name {
      color: variables.$primary;
    }
  }
}
/* =========================  DASHBOARD ========================= */

.dashboard {
  width: 100%;
  height: 100%;
  &__welcome {
    margin-bottom: 40px;
  }
  &__content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
  }
  &__activity {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__graphs {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
  }
  &__health-metrics {
    width: 258px;
    flex-shrink: 0;
  }
}

/* =========================  DAILY ACTIVITY ========================= */

.activity {
  width: 835px;
  height: 320px;
  background: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: variables.$radius-small;
  padding: 24px 26px 23px 32px;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  &__title {
    color: #20253a;
    margin: 0;
    font-size: 15px;
    font-weight: variables.$font-weight;
    line-height: 24px;
  }
  &__legend {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 32px;
    list-style: none;
  }
  &__legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__legend-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    &--weight {
      background-color: #282d30;
    }
    &--calories {
      background-color: #e60000;
    }
  }
  &__legend-text {
    font-size: 14px;
    font-weight: variables.$font-weight;
    color: #74798c;
  }
  &__chart {
    flex: 1;
    width: 100%;
  }
  &__tooltip {
    background-color: #e60000;
    padding: 8px;
    text-align: center;
    min-width: 39px;
  }
  &__tooltip-value {
    font-size: 7px;
    font-weight: 500;
    color: #ffffff;
    margin: 4px 0;
  }
}

/* =========================  SCORE / RADIAL BAR ========================= */

.radial-chart {
  width: 258px;
  height: 263px;
  background: #fbfbfb;
  border-radius: variables.$radius-small;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px;
  box-sizing: border-box;

  &__title {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #20253a;
    margin: 0 0 20px 0;
  }

  &__label {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 26px;
    fill: #282d30;

    &-text {
      font-size: 16px;
      fill: #74798c;
      font-weight: 500;
    }
  }
}

/* =========================  PERFORMANCE / RADAR CHART ========================= */

.performances_container {
  width: 258px;
  height: 263px;
  background-color: #282d30;
  border-radius: variables.$radius-small;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =========================  DURATION / LINE CHART ========================= */
.duration {
  width: 258px;
  height: 263px;
  border-radius: variables.$radius-small;
  background: variables.$primary;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  font-family: variables.$font-family;
  &__title {
    position: absolute;
    top: 29px;
    left: 34px;
    z-index: 10;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    max-width: 140px;
    color: rgba(255, 255, 255, 0.5);
  }
  &__tooltip {
    background-color: #ffffff;
    padding: 10px;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
  }
}

/* =========================  METRIC ACTIVITY ========================= */
.healthMetrics {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  &__card {
    width: 258px;
    height: 124px;
    border-radius: variables.$radius-small;
    background: #fbfbfb;
    display: flex;
    align-items: center;
    padding: 32px;
    box-sizing: border-box;
  }
  &__icon {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 32px;
      height: 32px;
    }
    &--calories {
      background-color: rgba(255, 0, 0, 0.1);
    }
    &--protein {
      background-color: rgba(74, 184, 255, 0.1);
    }
    &--carbs {
      background-color: rgba(249, 206, 35, 0.1);
    }
    &--fat {
      background-color: rgba(253, 81, 129, 0.1);
    }
  }
  &__info {
    margin-left: 24px;
    color: variables.$dark-background;
  }
  &__value {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 2px 0;
  }
  &__label {
    margin: 0;
    color: #74798c;
    font-size: 14px;
    font-weight: 500;
  }
}
