@import "./_variables"
@import "./_global"

// Navbar
.header
    background-color: $dark-background
    color: $background
    padding: 1rem
    text-align: center
    display: flex
    flex-direction: row
    justify-content: space-evenly
    //align-items: center
    &-links
        width: 100%
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-evenly
        width: 100%
        margin-left: 1rem
        ul
            display: flex
            padding: 0
            list-style: none
        &-link
            display: flex
            justify-content: space-evenly
            color: $background
            text-decoration: none
            font-size: 1.2rem
            font-weight: 500
            padding: 0.5rem
            &:hover
                color: $primary
    &_children
        position: relative
        display: flex
        flex-direction: column
        display: none
        &:hover
            .header-links-dropdown
                display: block
// Sidebar
.side_container
    display: flex
    flex-direction: column
    justify-content: space-evenly
    height: 100vh
    width: 117px
    background-color: $dark-background
    &_actvities
        min-height: 320px
        display: flex
        flex-direction: column
        justify-content: space-evenly
        align-items: center
        &-icon
            background-color: $background
            color: $primary
            border-radius: 10px
            width: 64px
            height: 64px
            display: flex
            justify-content: center
            align-items: center
    &-copyright
        align-self: flex-end
        width: auto
        transform: rotate(-90deg)
        font-size: 12px
        line-height: 24px
        font-weight: 500
        color: $background
        white-space: nowrap

// User Welcome message
.user_container
    display: flex
    flex-direction: column

    font-style: normal
    font-weight: 500
    &-welcome
        color: #000
        font-size: 48px
        line-height: 24px
        margin-bottom: 1%
    &-name
        color: #FF0101
        font-size: 48px
        line-height: 24px
    &-congrat
        color: #000
        font-size: 18px
        font-weight: 400
        line-height: 24px

// Main charts containers
.container
    &_userActivity
        display: flex
        flex-direction: row
    // Daily activity
.custom-tooltip
    width: 60px
    height: 90px
    color: #FFFFFF
    font-size: 14px
    background-color: #E60000
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

// Metrics activity
.healthMetrics
    min-height: 60vh
    display: flex
    flex-direction: column
    justify-content: space-evenly
    &_box
        display: flex
        flex-direction: row
        align-items: center
    &_container
        &-data
            margin-left: 1rem
            color: $dark-background
            &-nbr
                font-size: 20px
                font-weight: 700
                line-height: 24px
                margin: 0
            &-type
                margin: 0

// Radial bar score
.radial-bar
    width: 217px
    max-height: 217px
    background-color: orange
    display: flex
    flex-direction: column
    justify-content: center

.radial-bar-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &_score
        font-size: 48px
        font-weight: 700
        line-height: 24px
    &_title
        font-size: 14px
        font-weight: 500
        line-height: 24px
        color: $background

    // Radar chart
.performances_container
    width: 400px
    height: 400px
    background-color: #282D30
    color: #FFFFFF
    border-radius: 12px
    display: flex
    justify-content: center
    align-items: center
    margin: auto
    &-kind
        margin: 1rem

// Duration Line Chart
.line-chart
    position: relative
    width: 260px
    height: 260px
    background-color: #FF0000
    border-radius: 10px
    //color: #FFFFFF
    font-size: 15px
    color: rgba(255, 255, 255, 0.5)
    opacity: 0.8
    &-title
        position: absolute
